<% content_for :head do %>
  <meta charset="UTF-8">
  <title>Summer To Remember - Find your perfect summer camp staff job</title>
  <meta name="description" content="Summer To Remember helps you find your perfect summer camp job at Christian camp and conference centers around the United States and Canada. We list all summer camp positions like counselors, lifeguards, leadership, and more and put you directly in touch with the camp. Where do you want to work this summer?" />
  <meta name="keywords" content="summer,camp,jobs,job,counselor,staff,christian,conference center,conference,center,to,remember,summertoremember,coed,boys,girls" />
<%end%>
<div class="content row search-row">
  <div class="col-lg-12">
    <%=image_tag 's2r', :style => 'max-width: 90vw; max-height: 28vh'%>
  </div>
  <%=form_tag search_camps_path, :id => 'SearchForm', :method => 'post' do %>
    <div class="col-lg-12">
      <h1 class="search-prompt">Where do you want to work this summer?</h1>
    </div>
    <div class="col-lg-12">
      <h3 id="state_display">Choose A State/Province</h3>
      <div class="row">
        <div class="col-md-3-6 col-md-offset-3 map-wrap">
          <div id="pccca_map" style="width: 500px; height: 500px;"></div>
        </div>
        <div class="col-lg-12">
          <%=select_tag :sm_state, grouped_options_for_select(us_states), :prompt => "Choose A State/Province", :id=> "pccca_state_select", :class=>"form-control" %>
          <%=submit_tag "Search for Camps", :class=>"btn btn-success", :style=>"margin-top: 25px; width: 100%"%>
        </div>
      </div>
    </div>
    <%=hidden_field_tag 'state'%>
  <%end%>
</div>

<div class="overlay"></div>
<%#= video_tag(["PCCCA Summer Campers.mp4", "PCCCA Summer Campers.webm", "PCCCA Summer Campers.ogg"], :autoplay => true, :loop => true, :id=>"my-video", :playsinline => true, :muted => true,:class=>"video") %>

<div class="fullscreen-bg">
  <video loop muted autoplay poster="assets/campfire.png" class="fullscreen-bg__video" id="background-video">
    <source src="https://s3.amazonaws.com/pccca/videos/PCCCA+Summer+Campers.m4v" type="video/mp4">
    <source src="https://s3.amazonaws.com/pccca/videos/PCCCA+Summer+Campers.webm" type="video/webm">
    <source src="https://s3.amazonaws.com/pccca/videos/PCCCA+Summer+Campers.ogg" type="video/ogg">
  </video>
</div>

<!--<video playsinline autoplay muted loop id="my-video" class="video">
  <source src="media/PCCCA Summer Campers.webm" type="video/webm">
  <source src="media/PCCCA Summer Campers.mp4" type="video/mp4">
  <source src="media/PCCCA Summer Campers.ogg" type="video/ogg">
</video>--><!-- /video -->

<script>
  $(document).ready(function() {

    function resizeMap() {
      var mapWidth = $('.map-wrap').css('width');
      var svgWidth = $('.map-wrap').width();
      var mapHeight = svgWidth *1;
      $('#pccca_map').css('width' , mapWidth).css('height' , mapHeight +'px');
      $('#pccca_map svg').attr('width' , svgWidth).attr('height' , mapHeight);
    };


   $(window).resize(function() {
    //resizeMap();
   });

    $('#pccca_map').usmap({
      'showLabels':false,
      'stateSpecificStyles': {
        'CA': {fill: '#CC3433'},
        'OR': {fill: '#CC3433'},
        'WA': {fill: '#CC3433'},
        'ID': {fill: '#CC3433'},
        'NV': {fill: '#CC3433'},
        'AK': {fill: '#CC3433'},
        'HI': {fill: '#CC3433'},
        'CO': {fill: '#CDCC00'},
        'MT': {fill: '#CDCC00'},
        'WY': {fill: '#CDCC00'},
        'UT': {fill: '#CDCC00'},
        'AZ': {fill: '#006599'},
        'NM': {fill: '#006599'},
        'TX': {fill: '#006599'},
        'OK': {fill: '#006599'},
        'AR': {fill: '#006599'},
        'LA': {fill: '#006599'},
        'KS': {fill: '#9966FF'},
        'MO': {fill: '#9966FF'},
        'IL': {fill: '#9966FF'},
        'IN': {fill: '#9966FF'},
        'ND': {fill: '#990033'},
        'SD': {fill: '#990033'},
        'NE': {fill: '#990033'},
        'MN': {fill: '#990033'},
        'IA': {fill: '#990033'},
        'WI': {fill: '#990033'},
        'AL': {fill: '#CD6601'},
        'MS': {fill: '#CD6601'},
        'KY': {fill: '#CD6601'},
        'TN': {fill: '#CD6601'},
        'MI': {fill: '#336601'},
        'OH': {fill: '#336601'},
        'FL': {fill: '#96CA05'},
        'GA': {fill: '#96CA05'},
        'SC': {fill: '#96CA05'},
        'WV': {fill: '#999A01'},
        'PA': {fill: '#999A01'},
        'NY': {fill: '#2C0092'},
        'NJ': {fill: '#2C0092'},
        'RI': {fill: '#2C0092'},
        'CT': {fill: '#2C0092'},
        'MA': {fill: '#2C0092'},
        'VT': {fill: '#2C0092'},
        'NH': {fill: '#2C0092'},
        'ME': {fill: '#2C0092'},
        'NC': {fill: '#96CA05'},
        'VA': {fill: '#96CA05'},
        'DC': {fill: '#96CA05'},
        'MD': {fill: '#96CA05'},
        'DE': {fill: '#96CA05'},
        'BC': {fill: '#6700FF'},
        'AB': {fill: '#336799'},
        'SK': {fill: '#9ACCCD'},
        'MB': {fill: '#9ACCCD'},
        'ON': {fill: '#99CD00'},
        'QC': {fill: '#FFCC9A'},
        'NL': {fill: '#9A0001'},
        'NS': {fill: '#9A0001'},
        'NB': {fill: '#9A0001'},
        'PE': {fill: '#9A0001'},
      },
      'stateStyles': {
        fill: "#4ECDC4",
        stroke: "#41A59B",
        "stroke-width": 1,
        "stroke-linejoin": "round",
        scale: [1, 1]
      },
      'stateHoverStyles': {
        fill: "#FFFFFF",
        stroke: "#ADCC56",
        scale: [5, 5]
      },
        'labelBackingStyles': {
        fill: "#4ECDC4",
        stroke: "#41A59B",
        "stroke-width": 1,
        "stroke-linejoin": "round",
        scale: [1, 1]
      },

      // The styles for the hover
      'labelBackingHoverStyles': {
        fill: "#C7F464",
        stroke: "#ADCC56",
      },
      'labelTextStyles': {
        fill: "#222",
        'stroke': 'none',
        'font-weight': 300,
        'stroke-width': 0,
        'font-size': '10px'
      },
      // The click action
      click: function(event, data) {
        $('#state').val(data.name);
        $( "#SearchForm" ).submit();
      },

      mouseover: function(event, data) {
          $('#state_display')
            .text("I want to work in: "+data.name)
      }
    });

    //resizeMap();
    msieversion();

    var jqueryVideo = $("#background-video");
    jqueryVideo.on("ended", function() {
      alert('This Does Work!');
      //this.load();
      //this.play();
    });
  });

  function msieversion() {
    var ua = window.navigator.userAgent;
    var msie = ua.indexOf("MSIE ");

    if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))  // If Internet Explorer, return version number
    {
      svg = $('#pccca_map').find('svg')[0];
      svg.setAttribute('viewBox', '800 0 650 550');
      alert("hi");
    }

    return false;
  }
</script>

<%=javascript_include_tag 'jquery.usmap'%>

