<%content_for :head do%>
  <%= stylesheet_link_tag 'simple-ripple-effect'%>
  <title>Summer Camp Jobs at <%=@camp.name%> - Summer To Remember</title>
  <meta name="description" content="<%=@camp.name%> has many summer camp jobs to offer in <%=@camp.address.try(:city)%>, <%= @camp.address.try(:state) %>. Read more about their camp and about the opporutnities they have on their website.">
<%end%>

<div class="row full-width fixed" style="top: 0; z-index: 10; <%='margin-top: 50px' if user_signed_in?%>">
  <div class="col-lg-12 top-bar">
    <div class="col-lg-4 col-xs-5 ">
      <%=link_to (image_tag 's2r'), root_path%>
    </div>
    <div class="col-lg-8 col-xs-7 menu">
      <a href="javascript:history.back()"><h3>&#8610; Back to Results</h3></a>
      <%#=link_to "<h3>&#8610; Back to Results</h3>".html_safe, search_camps_path(:state => params[:s]), method: :post%>
    </div>
  </div>
</div><!--end top-bar-->

<div class="container show" style="<%='margin-top: 250px' if user_signed_in?%>">
  <div class="row">
    <div class="col-xs-12 camp-container">
      <div class="row">
        <div class="col-md-10 col-xs-8">
          <h1 class="camp-title"><%= @camp.name %></h1>
          <h4><%= @camp.address.try(:city) %>, <%= @camp.address.try(:state) %></h4>
        </div>
        <div class="col-md-2 col-xs-4 text-right">
          <%= @camp.pccca_member ? (link_to "#{image_tag('member_pccca.png', {:class => 'pccca'})}".html_safe, 'http://www.pccca.net', :class => "pccca-link") : ''%>
        </div>
      </div>
    </div>
    <div class="col-xs-12 camp-container">
      <%info = @camp.staff_desc.blank? ? CampInfo.where(camp_id: @camp.id, camp_type: 'pccca').first.description.try(:html_safe) : @camp.staff_desc.html_safe%>
      <p class="description"><%=info%></p>
    </div>
    <div class="col-xs-12 camp-container">
      <div class="row camp-images">
        <%if @camp.pccca_member%>
          <%images = @camp.images.select{|i| i.image_type == "s2r"}.take(3)%>
          <%counts = 3-images.count%>
          <%(1..counts).each do |count|%>
            <%if count == 1%>
              <%images << Image.where(camp_id: @camp.id, image_type: 'pccca').first%>
            <%elsif count == 2%>
              <%images << Image.where(camp_id: @camp.id, image_type: 'pccca').second%>
            <%else%>
              <%images << Image.where(camp_id: @camp.id, image_type: 'pccca').third%>
            <%end%>
          <%end%>
          <%images.each do |image|%>
            <%unless image.nil?%>
              <div class="col-md-3 camp-photo-wrapper">
                <div style="background-image: url('<%=asset_path image.image_url(:medium) unless image.nil?%>');" class="camp-photo"></div>
              </div>
            <%end%>
          <%end%>

        <%end%>
        <div class="col-md-3 website">
          <%url = @camp.staff_url.blank? ? @camp.web_url : @camp.staff_url%>
          <%=link_to 'Learn how to apply for a staff position', url, {:class => "ripple-effect details", :"data-ripple-color" => "#f2c84b"}%>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="js/simple-ripple-effect.js"></script>

<!--<%#= link_to 'Edit', edit_camp_path(@camp) %> |
<%#= link_to 'Back', camps_path %>-->
