<%content_for :head do%>
  <%= stylesheet_link_tag 'simple-ripple-effect'%>
<%end%>

<div class="row full-width fixed" style="top: 0; z-index: 10">
  <div class="col-lg-12 top-bar">
    <div class="col-lg-4 col-xs-5 ">
      <%=link_to (image_tag 's2r'), root_path%>
    </div>
    <div class="col-lg-8 col-xs-7 menu">
      <%=link_to "<h3>&#8610; Back to Results</h3>".html_safe, search_camps_path(:state => params[:s]), method: :post%>
    </div>
  </div>
</div><!--end top-bar-->

<div class="container show">
  <div class="row">
    <div class="col-xs-12 camp-container">
      <div class="row">
        <div class="col-md-10 col-xs-8">
          <h1 class="camp-title"><%= @camp.name %></h1>
          <%= @camp.address.try(:city) %>, <%= @camp.address.try(:state) %><br />
        </div>
        <div class="col-md-2 col-xs-4 text-right">
          <%= @camp.pccca_member ? (link_to "#{image_tag('member_pccca.png', {:class => 'pccca'})}".html_safe, 'http://www.pccca.net', :class => "pccca-link") : ''%>
        </div>
      </div>
    </div>
    <div class="col-xs-12 camp-container">
      <%info = @camp.staff_desc.blank? ? CampInfo.where(camp_id: @camp.id, camp_type: 'pccca').first.description.try(:html_safe) : @camp.staff_desc.html_safe%>
      <p class="description"><%=info%></p>
    </div>
    <div class="col-xs-12 camp-container">
      <div class="row camp-images">
        <%if @camp.pccca_member%>
          <%images = @camp.images.select{|i| i.image_type == "s2r"}.take(3)%>
          <%counts = 3-images.count%>
          <%(1..counts).each do |count|%>
            <%if count == 1%>
              <%images << Image.where(camp_id: @camp.id, image_type: 'pccca').first%>
            <%elsif count == 2%>
              <%images << Image.where(camp_id: @camp.id, image_type: 'pccca').second%>
            <%else%>
              <%images << Image.where(camp_id: @camp.id, image_type: 'pccca').third%>
            <%end%>
          <%end%>
          <%images.each do |image|%>
            <div class="col-md-3 camp-photo-wrapper">
              <div style="background-image: url('<%=asset_path image.image_url(:medium) unless image.nil?%>');" class="camp-photo">
              </div>
            </div>
          <%end%>

        <%end%>
        <div class="col-md-3 website">
          <%url = @camp.web_url.blank? ? @camp.web_url : @camp.staff_url%>
          <%=link_to 'Learn how to apply for a staff position', url, {:class => "ripple-effect details", :"data-ripple-color" => "#f2c84b"}%>
        </div>
      </div>
    </div>
  </div>
</div>

<p id="notice"><%= notice %></p>

<script src="js/simple-ripple-effect.js"></script>

<!--<%#= link_to 'Edit', edit_camp_path(@camp) %> |
<%#= link_to 'Back', camps_path %>-->
