<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @camp_info.type_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @camp_info.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @camp_info.url %>
</p>

<p>
  <strong>Camp:</strong>
  <%= @camp_info.camp_id %>
</p>

<%= link_to 'Edit', edit_camp_info_path(@camp_info) %> |
<%= link_to 'Back', camp_infos_path %>
