<%=image_tag 's2r', :style=>"width: 125px"%><br/>

<% if (Contact.find_by_email @resource.email).nil?%>
  <p>Hello <%= @resource.email %>!</p>
<%else%>
  <p>Hello <%= (Contact.find_by_email @resource.email).f_name %> <%= (Contact.find_by_email @resource.email).l_name %>!</p>
<%end%>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
