<div class="nav-bar">
  <div class="container">
    <div class="row admin-nav">
      <div class="col-lg-9">
        <%=image_tag "s2r", height: "50px"%>
        &nbsp;&nbsp;&nbsp;&nbsp;Logged in as <%=current_user.email%>
      </div>
      <div class="col-lg-3 sign-out">
        <%=link_to "All Camps", camps_path%>
        <%=link_to "Search Page", search_camps_path%>
        <%=link_to "Sign Out", destroy_user_session_path, :method => "delete"%>
      </div>
    </div>
  </div>
</div>
