<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', 'app', 'style', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <%= yield :head%>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

<%if user_signed_in?%>
  <%if current_user.try(:admin?)%>
    <%=render "layouts/admin_nav"%>
  <%else%>
    <%=render "layouts/user_nav"%>
  <%end%>
<%end%>


<%if !!notice%><p class="notice btn-success"><%= notice %></p><%end%>
<%if !!alert%><p class="alert btn-warning"><%= alert %></p><%end%>

<%= yield %>


</body>
</html>
