<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', 'app', 'style', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <%= yield :head%>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

<%= yield %>


</body>
</html>
